{% extends "crud_base.twig" %}

{% block cssblock %}

{% endblock %}


{% block jscontrols %}

    <script>

    </script>

{% endblock %}

{% block content %}

    <div class="ibox-content m-b-sm border-bottom border-none marg-top ">
        <h1>Welcome to my Contact App Dashboard.</h1>
        <p> Use the side Navigation bar to navigate through the application.</p>
    </div>





{% endblock %}
